POSTGRES_DB=deskflow
POSTGRES_USER=deskflow
POSTGRES_PASSWORD=change-me
JWT_KEY=change-this-to-a-long-random-secret-with-at-least-32-characters
JWT_ISSUER=DeskFlow
JWT_AUDIENCE=DeskFlow.Web
SEED_ADMIN_PASSWORD=Admin@123!
SEED_TECHNICIAN_PASSWORD=Tech@123!
SEED_USER_PASSWORD=User@123!